/*
color pal:
#253031 Charleston green
#315659 Dark Slate gray
#2978A0 Caledon blue
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  padding: 2rem 0;
  background-color: #2978a0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 50%;
  display: flex;
}
#logo img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
input#search {
  margin-right: 2rem;
  width: 35%;
  background-image: url("http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  border: 3px solid #315659;
  border-radius: 7.5px;
}
input#search:focus {
  padding-left: 3rem;
  background-image: none;
  text-indent: 0px;
  border-color: antiquewhite;
}
main {
  margin-top: 5rem;
}
#result-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.response-box {
  width: 25%;
  margin: 1rem;
  padding: 0.5rem;
  border: 3px solid #315659;
  background-color: #2978a0;
}
.img-handler {
  width: 100%;
  margin-bottom: 1rem;
}
.img-handler img {
  width: 100%;
}
.response-box h3 {
  display: block;
  margin: 0 auto 1rem;
  width: 80%;
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}
.response-box h3:hover {
  color: #253031;
}
#show-profile {
  position: fixed;
  overflow: scroll;
  top: 5%;
  left: 5%;
  width: 90vw;
  height: 100%;
  z-index: 999;
  background-color: rgb(49, 86, 89, 0.9);
}
#x {
  position: fixed;
  top: 5%;
  right: 6%;
  font-size: 2rem;
  z-index: 99999;
  color: antiquewhite;
  font-weight: 700;
  cursor: pointer;
}
#x:hover {
  color: #253031;
  border-bottom: 2px solid #253031;
}

.show-profile header {
  width: 90%;
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-user {
  margin-left: 1rem;
}
.img-user img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
header h4 {
  width: 100%;
  font-size: 4rem;
  text-align: center;
}
#rep-info {
  display: flex;
  flex-direction: column;
}
.rep-item {
  margin: 1rem auto;
  padding: 1rem 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  border-bottom: 2px solid #2978a0;
}
.rep-item h4 {
  font-size: 1.2rem;
  color: antiquewhite;
}
.rep-item a {
  min-width: 30%;
  text-decoration: none;
}
.rep-item h4:hover {
  color: #2978a0;
}
.rep-img {
  padding-left: 2rem;
  min-width: 10%;
}
.rep-img img {
  width: 80%;
}
.rep-description {
  font-size: 1.2rem;
  color: #fff;
  min-width: 50%;
  text-align: start;
}
.stars {
  min-width: 10%;
  font-size: 1.2rem;
  color: antiquewhite;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  .response-box h3 {
    font-size: 60%;
  }
  header {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  input#search {
    margin: 2rem 0;
    width: 50%;
  }
  #logo img {
    margin: 0;
  }
}

.show-hide {
  display: none;
}
